{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/sidebar.html' %}

<div class="dashboard">
    <header class="dashboard-header content-container">
        <h1>Dashboard</h1>

        <form class="dashboard-search-box" role="search">
            <input class="dashboard-form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="dashboard-search-btn" type="submit"> <span class="visually-hidden">Search</span>
                <img src="{% static 'images/search.svg' %}" alt=""> </button>
        </form>

    </header>
    <main class="dashboard-main content-container">
        <div class="dashboard-title-div">
            <h2 class="dashboard-title">Notes</h2>
            <div>
                <label for="sort-notes" class="dashboard-select-label">Sort by</label>
                <select id="sort-notes" name="sort_by" class="dashboard-select-notes" aria-label="Sort the notes">
                    <option selected value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="A-Z">A-Z</option>
                    <option value="Tag">Tag</option>
                </select>

            </div>
        </div>
        <!-- Notes -->
        <div class="notes-container">
            <!-- Note card -->
            {% for note in notes %}
            <div class="note-card">
                <div class="note-card-tag"><img src="{% static 'images/tag.svg' %}" class="note-card-tag-icon"><span
                        class="note-card-tag-content">{{note.tags}}</span></div>
                <a href="{% url 'noteapp:notedetails' slug=note.slug %}" class="note-card-title">{{ note.title }}</a>
                <p class="note-card-content">{{ note.content|slice:":60" }}{% if note.content|length > 20 %}...</p>
                {% endif %}
                <div class="note-card-details-div">
                    <div class="note-card-date-div">
                        <img src="{% static 'images/date.svg' %}" class="note-card-date-icon">
                        <span class="note-card-date-content">{{ note.date_modified|date:"M d, y"}}</span>
                    </div>
                    <div class="note-card-delete-div">
                        <a href="{% url 'noteapp:deletenote' slug=note.slug %}" class="note-card-delete-link"><img
                                src="{% static 'images/delete.svg' %}" class="note-card-delete-icon"><span
                                class="note-card-delete-content">Delete</span></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</div>

{% endblock %}