{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="sidebar">
    <div class="sidebar-top">
        <span class="shrink-btn">
            <i class='bx bx-chevron-left'></i>
        </span>
        <img src="{% static 'images/note_app_logo_white.svg' %}" class="sidebar-logo" alt="sidebar-logo-image">
        <span class="hide sidebar-logo-text">Mini Notes</h3>
    </div>

    <div class="sidebar-links">
        <ul>
            <div class="active-tab"></div>
            <li class="tooltip-element" data-tooltip="0">
                <a href="{% url 'dashboard' %}" class="active" data-active="0">
                    <div class="icon">
                        <i class='bx bx-tachometer'></i>
                        <i class='bx bxs-tachometer'></i>
                    </div>
                    <span class="link hide">Dashboard</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="1">
                <a href="{% url 'addnote' %}" data-active="1">
                    <div class="icon">
                        <i class='bx bx-plus-circle'></i>
                        <i class='bx bxs-plus-circle'></i>
                    </div>
                    <span class="link hide">Add Note</span>
                </a>
            </li>
            <li class="tooltip-element" data-tooltip="2">
                <a href="#" data-active="2">
                    <div class="icon">
                        <i class='bx bx-cog'></i>
                        <i class='bx bxs-cog'></i>
                    </div>
                    <span class="link hide">Settings</span>
                </a>
            </li>
            <div class="tooltip">
                <span class="show">Dashboard</span>
                <span>Add Note</span>
                <span>Settings</span>
            </div>
        </ul>
    </div>

    <div class="sidebar-footer">
        <a href="#" class="account tooltip-element" data-tooltip="0">
            <div class="icon">
                <i class='bx bx-user-circle'></i>
                <i class='bx bxs-user-circle'></i>
            </div>
        </a>
        <div class="admin-user tooltip-element" data-tooltip="1">
            <div class="admin-profile hide">
                <img src="{% static 'images/account_circle.svg' %}" alt="" class="sidebar-account-image">

                <div class="admin-info">
                    <h3>John Doe</h3>
                </div>
            </div>
            <a href="#" class="log-out">
                <i class='bx bx-log-out'></i>
            </a>
        </div>
        <div class="tooltip">
            <span class="show">John Doe</span>
            <span>Logout</span>
        </div>
    </div>
</nav>
<div class="dashboard">
    <header class="dashboard-header content-container">
        <h1>Dashboard</h1>

        <form class="dashboard-search-box" role="search">
            <input class="dashboard-form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="dashboard-search-btn" type="submit"> <span class="visually-hidden">Search</span>
                <img src="{% static 'images/search.svg' %}" alt=""> </button>
        </form>

    </header>
    <main class="dashboard-main content-container">
        <div class="dashboard-title-div">
            <h2 class="dashboard-title">Notes</h2>
            <div>
                <label for="sort-notes" class="dashboard-select-label">Sort by</label>
                <select id="sort-notes" name="sort_by" class="dashboard-select-notes" aria-label="Sort the notes">
                    <option selected value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="A-Z">A-Z</option>
                    <option value="Tag">Tag</option>
                </select>

            </div>
        </div>
        <!-- Notes -->
        <div class="notes-container">
            <!-- Note card -->
            {% for note in notes %}
            <div class="note-card">
                <div class="note-card-tag"><img src="{% static 'images/tag.svg' %}" class="note-card-tag-icon"><span
                        class="note-card-tag-content">{{note.tags}}</span></div>
                <a href="{% url 'notedetails' slug=note.slug %}" class="note-card-title">{{ note.title }}</a>
                <p class="note-card-content">{{ note.content|slice:":60" }}{% if note.content|length > 20 %}...</p>
                {% endif %}
                <div class="note-card-details-div">
                    <div class="note-card-date-div">
                        <img src="{% static 'images/date.svg' %}" class="note-card-date-icon">
                        <span class="note-card-date-content">{{ note.date_modified|date:"M d, y"}}</span>
                    </div>
                    <div class="note-card-delete-div">
                        <a href="#" class="note-card-delete-link"><img src="{% static 'images/delete.svg' %}"
                                class="note-card-delete-icon"><span class="note-card-delete-content">Delete</span></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</div>

{% endblock %}