{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/sidebar.html' %}
<div class="note-details">
    <header class="note-details-header content-container">
        <h1 class="note-details-header-title">Note</h1>
        <div class="note-details-btn-div">
            <a href="#" class="note-details-edit-link">
                <img src="{% static 'images/edit.svg' %}" class="note-details-edit-icon">
                <span class="note-details-edit-link-text">Edit</span></a>
            <a href="#" class="note-details-delete-link">
                <img src="{% static 'images/delete.svg' %}" class="note-details-delete-icon">
                <span class="note-details-delete-link-text">Delete</span></a>
        </div>
    </header>
    <main class="notedetails-main content-container">
        <div class="note-details-title-div">
            <h2 class="note-details-title">Title : {{note.title}}</h2>
            <p class="note-details-date-created">Date Created : {{note.date_created}}</p>
            <p class="note-details-date-modified">Date Modified : {{note.date_created}}</p>
            <h3 class="note-details-tag">Tags : {{note.tags}}</h3>
        </div>
        <div class="note-details-content-div">
            {{note.content|linebreaksbr|linebreaks}}
        </div>
    </main>
</div>

{% endblock %}