{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/sidebar.html' %}
<div class="settings">
    <header class="settings-header content-container">
        <h1>Settings</h1>
    </header>
    <main class="settings-main content-container">
        <div>
            <h2>Account Information</h2>
            <div class="settings-account-info-details-div">
                <div class="settings-account-field-div">
                    <h3 class="settings-account-field-title">Firstname</h3>
                    <strong class="settings-account-field-content">{{ user.first_name }}</strong>
                </div>

                <div class="settings-account-field-div">
                    <h3 class="settings-account-field-title">Lastname</h3>
                    <strong class="settings-account-field-content">{{ user.last_name }}</strong>
                </div>

                <div class="settings-account-field-div">
                    <h3 class="settings-account-field-title">Email</h3>
                    <strong class="settings-account-field-content">{{ user.email }}</strong>
                </div>

                <div class="settings-account-field-div">
                    <h3 class="settings-account-field-title">Date Joined</h3>
                    <strong class="settings-account-field-content">{{user.date_joined|date:"Y-m-d"}}</strong>
                </div>

                <a href="{% url 'noteapp:edit_profile' %}" class="edit-profile-link">Edit Profile</a>
            </div>
        </div>
        <div class="theme-div">
            <h2 class="settings-theme-title">Theme Preference</h2>
            <div class="settings-theme-div">
                <button class="theme-button day-mode-btn" onclick="setLightMode()"><img
                        src="{% static 'images/light_mode.svg' %}" class="theme-btn-icon"><span
                        class="theme-btn-text">Light Mode</span></button>
                <button class="theme-button night-mode-btn" onclick="setDarkMode()"><img
                        src="{% static 'images/dark_mode.svg' %}" class="theme-btn-icon"><span
                        class="theme-btn-text">Night
                        Mode</span></button>
            </div>
        </div>
    </main>
</div>
{% endblock %}