{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="register-header">
    <nav class="register-nav container">
        <a href="{% url 'noteapp:homepage' %}" class="logo"><img src="{% static 'images/note_app_logo.svg' %}"
                alt="logo_image" class="logo-image"><span class="logo-text">MINI
                NOTES</span></a>
        <div>
            <a href="{% url 'userapp:login' %}" class="sign-in-btn">Sign in</a>
        </div>
    </nav>
</header>
<main>
    <section class="register-hero-section container">
        <form method="post" class="register-form" novalidate>
            {% csrf_token %}

            <h2 class="form-title">Register Form</h2>

            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="register-btn">Submit</button>
            <p class="register-form-login-link-para">Already have an account? Please <a
                    href="{% url 'userapp:login' %}">
                    Sign in</a>.
            </p>
        </form>
    </section>
</main>
{% endblock %}